.header {
  border: 1px solid $bottom-border-color;
  @media screen and (max-width: 767px) {
  height: 60px;
  }
  @media screen and (min-width: 768px) {
    height: 80px;
  }
}
.header__container {
    @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
}

span.logo--color {
  color: $text-color;
}

.header-blocks {
    display: none;
    @media screen and (min-width: 768px) and (max-width: 1199px){
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: 88px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
    }
}
.header__open-btn {
    margin-left: auto;
    background-color: $btn-color;
    border: none;
    &:hover, &:focus {
        fill: $text-color;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: none;
    }
    @media screen and (min-width: 1200px) {
        display: none;
    }
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
        margin-left: 93px;
        margin-right: 275px;
    }
}
.header-list {
  display: flex;
  align-items: center;
}
.header-list__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.header-list__link{
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover, &:focus {
      color: $accent-color;
}
}
.current {
color: $accent-color;
position: relative;
@media screen and (min-width: 768px) {
  &::after {
position: absolute;
content: "";
width: 100%;
height: 4px;
border-radius: 2px;
background-color: $accent-color;
left: 0;
bottom: -32px;
}
}
}
.header-contacts {
    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    }
}
.header-mail,
.header-tel {
  @media screen and (min-with: 768px) and (max-width: 1199px){
  &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  &:not(:last-child) {
      margin-right: 30px;
    }
  } 
}
.header-mail {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
    }
}
.header-mail__link,
  .header-tel__link {
    display: flex;
    font-family: inherit;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $second-text-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
      color: $accent-color;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    }
  @media screen and (min-with: 1200px) {
  display: flex;
  justify-content: center;
  align-items: center;
  &:not(:last-child) {
    margin-right: 50px;
  }
  } 
}
.header-mail__icon {
  @media screen and (min-width: 768px) {
  margin-right: 10px;
  display: flex;
  fill: $second-text-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
      fill: $accent-color;
    }
}
@media screen and (min-with: 1200px) { 
  display: flex;
}
}

.header-tel__icon {
  @media screen and (min-width: 768px) {
  fill: $second-text-color;
  display: flex;
  margin-right: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
      fill: $accent-color;
    }
  }
  @media screen and (min-with: 1200px) { 
  display: flex;
}
}

.header-mail__link:hover .header-mail__icon,
.header-mail__link:focus .header-mail__icon,
.header-tel__link:hover .header-tel__icon,
.header-tel__link:focus .header-tel__icon {
  @media screen and (min-width: 768px) {
  fill: $accent-color;
}
}

.mob-menu {
  position: absolute;
  background-color: $btn-color;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: none;
    }
    @media screen and (min-width: 1200px) {
        display: none;
    }
}
.mobile-header {
  display: block;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  width: 100%;
    @media screen and (min-width: 768px) {
    display: none;
    }
}
.mob-menu__close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $btn-color;
    border: none;
    display: block;
    margin-left: auto;
    fill: $text-color;
    &:hover, &:focus {
        fill: $accent-color;
    }
}
.mob-menu__socials {
    margin-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 40px;
    color: $accent-color;
}
.mob-menu__socials-item {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    padding-right: 0;
    display: flex;
    color: $accent-color;
    &:not(:last-child) {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid $text-color;
    }
}
.mob-menu__socials-link {
  color: $accent-color;
}
.mob-contacts {
  padding-left: 40px;
  padding-bottom: 134px;
}
.mob-tel {
margin-bottom: 32px;
font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color: $accent-color;
}
.mob-mail {
font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
color: $second-text-color;
}
.mob-mail__link {
  color: $second-text-color;
  &:hover, &:focus {
    color: $accent-color;
  }
}
.mob-menu-list {
  padding-top: 48px;
  padding-left: 40px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-list__item {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $text-color;
    &:not(:last-child) {
    margin-bottom: 32px;
    }
}
.mob-menu-list__link {
    color: $text-color;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover, &:focus {
      color: $accent-color;
}
}